$white: #c5c6c7;
$lightBlue: #66fcf1;
$blue: #45a29e;
$darkBlue:#1f2833;
$black:#0b0c10;

$darkPurple:#3c3c57;
$orange:#fb837f;
$blue:#1c64aa;
$green:#e2f6d9;
$purple:#696ab2;
$cream:#f6dcdf;
$yellow:#fbecb4;
$pink:#c49cc6;



// $white: #c4d6ed;
// $lightBlue: #64BBE3;
// $blue: #2b5592;
// $black:#000000;
// $grey:#58585b;
// $green:#005c21;
// $lightGreen:#6cc04a;
// $red:#8B1001;

