@import "../node_modules/bootstrap/scss/bootstrap";
@import './responsive';
@import './variables';




* {
padding: 0;
margin:0;
box-sizing: border-box;
}

body{
    font-family:'Poppins', sans-serif;
    overflow-x: hidden;
}
//NAV

nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height:8vh;
  background-color: $darkBlue;
  color:$lightBlue;

.speed{
    font-size: 2rem;
}

  .nav__ul{
        // position: absolute;
        // right:0px;
        // height:92vh;
        // top:8vh;
        // background-color: green;
         display: flex;
        // flex-direction: column;
        align-items: center;
        width:50%;
        // transform: translateX(110%);
        // transition: transform 0.5s ease-in;
        // justify-content: space-around;
        // align-items: center;


      .nav__item{
          list-style: none;
          
          a{
              text-decoration: none;
              color:black;
          }
      }
  }
}

.burger{
  display:none;

  .line{
      width: 25px;
      height: 3px;
      background-color: black;
      margin: 5px; 
  }
}

@media screen and (min-width:768px){
    
    .nav__ul{
        
        display: block;

    }


}




//HERO

.hero{
    height:90vh;
    background-image: linear-gradient(to bottom,$darkBlue,$black);
    color:$white;
    display: flex;
    justify-content: center;
}

.hero__content{
 

   .hero__header{
     font-size: 2rem;
   }
   .hero__sub__header{
       font-size:1rem;
   }
}

.hero__img{
   

    img{
        max-width: 80%;
        margin: 0 auto;
    }
}


    


.button-1 {
  background: $darkBlue;
  border-radius: 999px;
  box-sizing: border-box;
  color: $lightBlue;
  cursor: pointer;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
  height:50px;
  word-break: break-word;
  border: 2px solid $lightBlue;
  transition: all 0.1s ease;
}

.button-1:hover{
    transform: scale(105%);
    background-color: $lightBlue;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    color:$black;
}

.button-2 {
  background: $lightBlue;
  border-radius: 999px;
  box-shadow:0 10px 20px -10px;
  color: #FFFFFF;
  cursor: pointer;
  font-family:  "poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
  height:50px;
  word-break: break-word;
  border: 0;
  transition: all 0.1s ease;
}
.button-2:hover{
    transform: scale(105%);
    background-color: $blue;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.button-3 {
    background: $lightBlue;
    border-radius: 999px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 200px;
    height:50px;
    word-break: break-word;
    border: 0;
    transition: all 0.1s ease;
  }

  .button-3:hover{
    transform: scale(105%);
    background-color: $blue;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

//Learn more button

.learn-more {
  color: $blue;
  font-size: 0.8rem;
  text-decoration: none;
  margin-top: 1em;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em;
  margin-left: -0.5em;
  border: none;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  width:5.5rem;

  &:before,
  &:after {
    position: absolute;
    content: "";
    border-bottom: 3px solid $blue;
    border-radius: 1em;
    bottom: 0.3em;
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.265, 1);
  }

  &:before {
    width: 1em;
    transform-origin: left;
  }

  &:after {
    width: 82%;
    left: 1em;
    transform: translateX(120%);
  }

  &:hover{
    color:$blue;
  }

  &:hover:before {
    transform: scaleX(0.3);
  }

  &:hover:after {
    transform: translateX(0);
  }
}

.hero__header{
    font-weight: 700;
    letter-spacing: 3px;
    color:$lightBlue;
}

.hero__link{
    text-decoration: none;
    color:$lightBlue;
}
.hero__link:hover{
    text-decoration: none;
    color:$lightBlue;

    .fa-arrow-right{
        transform: translateX(5px);
        color:$lightBlue;
        transition: all 0.2s ease ;
    }
}






@media screen and (min-width:996px){

    .hero{
        height:85vh;
        display:flex;
        align-items: center;
    }

    .hero__content{

        .hero__header{
            font-size: 3rem;
        }

        .hero__sub__header{
            font-size:1.5rem;
          
        }
    
    }

    
}

////////// CARDS

.card__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.cardi{
   transition: all 0.3s ease;
   
}

.cardi div p{
  color:$white;
}
.cardi:hover{
   transform: translateY(-5px);
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}



.card1{
   
    background-image: linear-gradient(to bottom,$darkBlue,$blue);
    border-radius: 20px;
    color:white;
    
    h3{
      color:$lightBlue;
    }
}
.card2{
    
    background-image: linear-gradient(to bottom,$darkBlue,$blue);
    border-radius: 20px;
    color:white;

    h3{
      color:$lightBlue;
    }
    
}

.card__img{
    padding:5rem;
    margin:0 auto;
    max-width:400px;
   
    
    img{
        width:100%;
        height:auto;
        object-fit: cover;
        
    }
}


@media screen and (min-width:768px){

 
}

@media screen and (min-width:996px){

  .card__container{
    flex-wrap: nowrap;
  }
}







/////////  BANNER

.banner__1{
  background-color:white; 
  min-height:40vh;
  color:$blue;
}
.banner__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50rem;
}

.banner__content p{
  color:$white;
} 
.banner__img{
  height:15rem;
  width:auto;
}







////////// FEATURES

.features{
  background-color: $darkBlue;
}

.features__header{
    color:$lightBlue;
   
}

.features__sub__header{
  color:$white;
}

.features__container{
    background-color: white;
    border-radius: 10px;
    max-width:800px;
    min-height:300px;
    margin:0 auto;
}

.button:focus{
    transform: translateY(-10px);
}

.features__buttons__container{
    display: flex;
    justify-content: center;
    transform: translateY(-25px);
}

.button{
  margin: 0px 10px;
  border:none; 
  background: $blue;
  border-radius: 999px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
  height:50px;
  word-break: break-word;
  border: 0;
  transition: 0.5s ease;
}

.feature__content{
    display:none;
    
}

.feature__content__active {
    display: block;
    padding:40px 30px;
    transform: translateY(-25px);
}

.feature__content h3,p{
    color:$darkBlue
}

@media screen and (min-width:768px){

    
 
}

@media screen and (min-width:996px){

  .feature__content__active {
    
    padding:40px 80px;
    
}

  .features__header{
    margin-left:7rem
   }

  .features__sub__header{
    margin-left:7rem
   }
  
}


























///////////SERVICES]

.services{
  
}

.service__headers{
   h3{
     color:$blue;
   }
   p{
     color:$blue;
   }
}

.services__container{
    min-height: 500px;
    display: flex;
    justify-content: center;
}

.service__img{
    max-width: 600px;
    height:auto;
    
}

.service__img img{
    width:100%;
    border-radius: 10px;
    
}


.service__content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:100%;
    padding:20px;
}



.lazy-img{
    // filter:blur(20px)
}



////////////REVIEWS

.reviews{
  background-color: $darkBlue;
}

.section__title{
  h3{
    color:$lightBlue;
  }
  p{
    color:$white;
  }
}


.slider {
    max-width: 60rem;
    height: 20rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
  }
  
  .slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* THIS creates the animation! */
    transition: transform 1s;
  }
  
  .slide > img {
    /* Only for images that have different size than slide */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
  
    border: none;
    background: rgba(255, 255, 255, 0.7);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .slider__btn--left {
    left: 6%;
    transform: translate(-50%, -50%);
  }
  
  .slider__btn--right {
    right: 6%;
    transform: translate(50%, -50%);
  }
  
  .dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: .5rem;
    width: .5rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
  
    /* Only necessary when overlying images */
    /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
  }
  
  .dots__dot:last-child {
    margin: 0;
  }
  
  .dots__dot--active {
    /* background-color: #fff; */
    background-color: #888;
    opacity: 1;
  }
  
  /* TESTIMONIALS */
  .review {
    width: 65%;
    position: relative;
  }
  
  // .review::before {
  //   content: '\201C';
  //   position: absolute;
  //   top: -5.7rem;
  //   left: -6.8rem;
  //   line-height: 1;
  //   font-size: 10rem;
  //   font-family: inherit;
  //   color: var(--color-primary);
  //   z-index: -1;
  // }
  
  .review__header {
    
    font-weight: 500;
    margin-bottom: 1.5rem;
  }
  
  .review__text {
    
    margin-bottom: 3.5rem;
    color: #666;
  }
  
  .review__author {
    margin-left: 2rem;
    font-style: normal;
    display: grid;
    grid-template-columns: 3rem 1fr;
    column-gap: 2rem;
  }
  
  .review__photo {
    grid-row: 1 / span 2;
    width: 3.5rem;
    border-radius: 50%;
  }
  
  .review__name {
    align-self: end;
    margin: 0;
  }
  
  .review__location {
    font-size: 1rem;
    color:$blue;
  }
  
  






//AVAILABILITY

.availability{
    background-color: $blue;
    color:white;
    text-align: center;
}

.availability__span{
    color:$lightBlue;
}

.availability__container{
  

  input{
    margin: 0 auto;
  }
}

//Contact


.contact {
    padding: 100px;
    background-color: white;
  }

  .contact__container{
      border-radius: 20px;
      background-color: $darkBlue;
  }

  .contact__img__col{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-img {
    max-height: 550px;
    border-radius:20px;
  }


//PRICING
.pricing__container{
  background-image: linear-gradient(to bottom,$darkBlue,$black);
  
}
.pricing__card{
border-radius:20px;
min-width: 300px;
transition:all 0.3s ease;
text-align: start;
}
.pricing__card:hover{
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card-header{
  border-radius: 20px 20px 0px 0px;
}
.pricing__header{
  color:$blue;
}

.pricing__paragraph{
  color:$white;
  max-width:50rem;
  margin:0 auto;
}
.pricing__content{
  
  border-radius: 0 0 20px 20px;
}

.card__label{
  color:$blue;
   
}
